body{
  background-color: black;
}
label{
  color:white;
}
h1,h2{
  
  color: white;
}


  .w{
    position: relative ;
    left: 55%;
    height: 260px;
  }
  h1{
    
    height: 50px;
    width:300px;
  }
  
  input{
     padding: 10px;
     width:250px;
    position: relative;
    left: 10%;
    border: none;
    background: none;
    color: white;
  }
  button{
    padding: 15px;
    width:260px;
    position: relative;
    left: 20%;
    background-color: lawngreen;
    border-radius: 10px;
    border-color: lawngreen;
    color: white;
    
    
  }
  .mp{
    padding: 10px;
     width:50px;
    position: relative;
    left: 10%;
    
  }
  hr{
    width:250px;
    position: relative;
    right: 10%;
    
  }
  .ew{

    height: 105px;
    
    
  }
  